{% extends "report-base.html" %}
{% load static %}
{% block title %}CovidReport{% endblock %}
{% block head %}
<style>
    body {
        background-image: url({% static 'virus-background-flipped.jpg' %}); 
    }
</style>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<script>
    $("body").fadeOut(1);
    $("body").fadeIn(500)
</script>
<div class="title">
    Следите за вирусом.<br>
    С точностью до района.
</div>
<div class="button" onclick="location.href = '/map/'">
    К карте <i class="fal fa-arrow-right"></i>
</div>
{% endblock %}
{% block bottom %}

<img class="shpulke-logo" src="{% static 'shpulke-white.png' %}" alt="" srcset="">
{% endblock %}