{% extends "report-base.html" %}
{% load static %}
{% block title %}Карта{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">

<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-clustering.js"></script>

<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

<script type="text/javascript">
    var coordsToAppend = {{coords}}
</script>
{% endblock %}
{% block content %}
<div class="container-fluid content">
    <h1 class="title">Карта эпидемиологической ситуации</h1>
    <form action="/map/" method="get">
        <label for="datePicker"><span class="label">По состоянию на: </span></label>
        <input class="label input" type="date" name="date" id="datePicker">
        <span class="label error">Мы не смогли определить ваше местоположение,так что открыли карту Москвы.</span>
        <br><br>
    </form>
    <div id="map"></div>
</div>
<script>
    $(".error").hide()
    $(document).ready(function () {
        $('#datePicker').val('{{date}}');
        $('#datePicker').on('change', () => {
            $('form').submit()
        })
    })
</script>
<script src="{% static 'js/reportmap.js' %}"></script>
{% endblock %}