{% extends "base.html" %}
{% load static %}
{% block title %}Карта{% endblock %}
{% block head %}
<script src="{% static 'fa/js/all.js'%}"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
</link>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
</link>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js"></script>
<script type="text/javascript">
    var map;
    var question_icon;
    var danger_icon;

    DG.then(function () {
        return DG.plugin('https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js');
    }).then(function () {
        map = DG.map('map', {
            center: [53.22, 50.16],
            zoom: 12,
            poi: false,
            fullscreenControl: false,
            zoomControl: false,

        });

        question_icon = DG.icon({
            iconSize: [30, 45],
            iconUrl: '{% static "question.png"%}',
            iconAnchor: [15, 45],
        })

        danger_icon = DG.icon({
            iconSize: [30, 45],
            iconUrl: '{% static "danger.png"%}',
            iconAnchor: [15, 45],
        })

        var markers = DG.markerClusterGroup({
            maxClusterRadius: 50
        });
        map.addLayer(markers);
        var coordsToAppend = {{coords}}

        coordsToAppend.forEach(element => {
            var lat = element[0]
            var lng = element[1]
            if (element[2] == 1){
                var marker = DG.marker([lat, lng], {
                    icon: danger_icon
                })
            }else{
                var marker = DG.marker([lat, lng], {
                    icon: question_icon
                })
            }
            markers.addLayer(marker)
        });

        
    });
</script>

{% endblock %}
{% block body %}
<nav class="nav">
    <div class="container-fluid">
        <div class="logo">
            <a href="/">CovidReport</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="/map/"><i class="far fa-map"></i> Карта</a></li>
                <li><a href="/radar/"><i class="far fa-location"></i> Радар</a></li>
                <li><a href="/report/"><i class="far fa-engine-warning"></i> Репорт</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="/logout/"><i class="far fa-user"></i> {{request.user.username}} | Выйти</a></li>
                {% else %}
                <li><a href="/login/"><i class="far fa-sign-in-alt"></i> Войти</a></li>
                {% endif %}
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>
<div class="container-fluid content">
    <h1 class="title">Карта эпидемиологической ситуации</h1>
    <form action="/map/" method="get">
        <label for="datePicker"><span class="label">По состоянию на: </span></label>
        <input class="label input" type="date" name="date" id="datePicker"><br><br>
    </form>
    <div id="map"></div>
</div>
<div class="about">Made by <img src="{% static 'shpulke-black.png' %}" alt="" srcset=""></div>
<script>
    $(document).ready(function () {
        $('#datePicker').val('{{date}}');
        $('#datePicker').on('change', () => {
            $('form').submit()
        })
    })
</script>
{% endblock %}