{% extends "report-base.html" %}
{% load static %}
{% block title %}Радар{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">

<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-clustering.js"></script>

<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

<script type="text/javascript">
    function createFormattedList(array) {
        var formattedString = ""
        array.forEach(place => {
            formattedString += "+ " + place + "<br>"
        });
        return formattedString
    }
</script>
{% endblock %}
{% block content %}
<div class="alert">
    <div class="message">
        <div class="close">
            <i class="far fa-times-circle"></i>
        </div>
        <div class="danger">
            <i id="1" class="fas fa-circle"></i> <i id="2" class="fal fa-circle"></i> <i id="3"
                class="fal fa-circle"></i>
            <div class="verdict">Вердикт</div>
        </div>
        <div class="description">
            Описание
        </div>
        <div class="comment">
            Всегда используйте средства индивидуальной защиты в общественных местах!
        </div>
    </div>
</div>
<script>
    $(".alert").fadeOut(1)
</script>
<div class="content container-fluid">
    <h1 class="title">Радар</h1>
    <span class="label">Кликните по нужному вам месту и радар покажет возможный риск заболевания.</span><br><br>
    <div id="map"></div>
</div>
<script src="{% static 'js/radar.js' %}"></script>
{% endblock %}