.nav div.main_list ul li a,
.nav div.logo a {
  color: black;
  transition: 0.5s all ease;
  border-radius: 50px;
}
.nav div.main_list ul li a:hover,
.nav div.logo a:hover {
  color: white;
  background-color: #4E88D9;
  padding: 0.5rem 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 65px;
  position: absolute;
  line-height: 65px;
  text-align: center;
  top: 1rem;
}
.nav .container-fluid {
  padding: 0;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
  font-family: "Raleway", sans-serif;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  transition: 0.5s all ease;
  border-radius: 50px;
}
.nav div.logo a:hover {
  color: #4E88D9;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-left: -1rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  transition: 0.5s all ease;
  border-radius: 50px;
}
.nav div.main_list ul li a:hover {
  color: #4E88D9;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
}

.nav div.main_list {
  height: 65px;
  float: right;
  font-size: 1.5rem;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.shpulke-logo {
  position: fixed;
  bottom: 2rem;
  left: 3rem;
  size: 1px;
  height: 3rem;
}

.about {
  position: fixed;
  bottom: 1rem;
  left: 3rem;
}
.about img {
  height: 1.5rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4E88D9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4E88D9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alert {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}
.alert .message {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 15rem;
  width: 25rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 37px -5px rgba(0, 0, 0, 0.75);
}
.alert .message .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: 0.25s;
}
.alert .message .close:hover {
  font-size: 1.7rem;
  top: 0.95rem;
  right: 0.9rem;
}
.alert .message .text {
  color: black;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2.5rem;
}