.title {
  font-family: "Raleway", sans-serif;
  color: white;
  line-height: 4.8rem;
  font-size: 4.8rem;
  margin-top: 25rem;
  margin-left: 3rem;
}

.button {
  display: inline-block;
  color: #4E88D9;
  font-size: 2rem;
  background-color: white;
  padding: 0.5rem 1.2rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 2.7rem;
  margin-left: 3rem;
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
}
.button img {
  height: 1rem;
}
.button:hover, .button:focus {
  color: white;
  box-shadow: inset 6.5em 0 0 0 #4E88D9;
  font-size: 2.4rem;
  margin-top: 2.4rem;
  margin-left: 2.1rem;
}