$accent-color: #4E88D9;

.title {
    font-family: 'Raleway', sans-serif;
    color: white;
    line-height: 4.8rem;
    font-size: 4.8rem;
    margin-top: 25rem;
    margin-left: 2+1rem;
}

.button {
    display: inline-block;
    color: $accent-color;
    font-size: 2rem;
    background-color: white;
    padding: 0.5rem 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1.5+1.2rem;
    margin-left: 2+1rem;
    // font-weight: bold;
    border-radius: 50px;
    transition: 0.4s;
    cursor: pointer;

    img {
        height: 1rem;
    }

    &:hover,
    &:focus {
        color: white;
        box-shadow: inset 6.5em 0 0 0 $accent-color;
        font-size: 2.4rem;
        margin-top: 1.2+1.2rem;
        margin-left: 1.1+1rem;
    }
}